@model GamesProcess.Libs.PaginatedList<GamesProcess.Models.Event>

@{
    ViewData["Title"] = "Search";
    int y = 1;
}

<h2>Search</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>
*@


<form action="Search" method="get">
    <div>
        <h4>
            Advanced Search:
        </h4>
        <div class="form-group">
            <label class="control-label">No of Search Values</label>
            <input type="number" name="NoOfSearchValues" min="1" max="5" value="@ViewData["SearchParmAmt"]" />
            <label class="control-label">No of Weeks to Show Before/After</label>
            <input type="number" name="NoOfWeeksToDisplay" min="2" max="5" value="@ViewData["DisplayWeeksParmAmt"]" />
        </div>
        <div class="form-group">
            <label class="control-label">Reference Value</label>
            <input type="number" name="ReferenceValue" min="1" max="90" value="@ViewData["ReferenceParm"]" />
            <label class="control-label">Reference Value Positon</label>
            <input type="number" name="ReferencePos" min="0" max="5" value="@ViewData["ReferencePosParm"]" />
        </div>
        <hr />
        <div class="form-group">
            <label class="control-label">Value 2</label>
            <input type="number" name="Value2" min="1" max="90" value="@ViewData["Value2Parm"]" />
            <label class="control-label">Weeks Apart</label>
            <input type="number" name="Value2Week" min="-4" max="4" value="@ViewData["Value2WeekParm"]" />
            <label class="control-label">Week Position</label>
            <input type="number" name="Value2Pos" min="0" max="5" value="@ViewData["Value2PosParm"]" />
        </div>
        <hr />
        <div class="form-group">
            <label class="control-label">Value 3</label>
            <input type="number" name="Value3" min="1" max="90" value="@ViewData["Value3Parm"]" />
            <label class="control-label">Weeks Apart</label>
            <input type="number" name="Value3Week" min="-4" max="4" value="@ViewData["Value3WeekParm"]" />
            <label class="control-label">Week Position</label>
            <input type="number" name="Value3Pos" min="0" max="5" value="@ViewData["Value3PosParm"]" />
        </div>
        <hr />
        <input type="submit" class="btn btn-default" value="Search" />
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>

<hr />

@if (Model != null)
{

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="success">
                <th>
                    Date
                </th>
                <th>
                    Event ID
                </th>
                <th colspan="5">
                    Winning
                </th>
                <th class="success"></th>
                <th colspan="5">
                    Machine
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                var hasInfo = (y + int.Parse(ViewData["DisplayWeeksParmAmt"].ToString())) % int.Parse(ViewData["DisplaySpaceParm"].ToString()) == 0 ? "warning" : "";
                <tr class="@hasInfo">
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventID)
                    </td>
                    @*@Html.DisplayFor(modelItem => item.WinningValues)*@
                    @for (int i = 0; i < item.Winning.Length; i++)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Winning[i])
                        </td>
                    }
                    <td class="success"></td>
                    @for (int i = 0; i < item.Machine.Length; i++)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Machine[i])
                        </td>
                    }
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@item.EventID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EventID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EventID">Delete</a>
                    </td>*@
                </tr>
                @if (y % int.Parse(ViewData["DisplaySpaceParm"].ToString()) == 0)
                    {
                    <tr class="col success">
                        @for (int i = 0; i < 14; i++)
                        {
                            <td></td>
                        }
                    </tr>
                    <tr class="col success">
                        @for (int i = 0; i < 14; i++)
                        {
                            <td></td>
                        }
                    </tr>
                }
                y++;
            }
        </tbody>
    </table>


    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <a asp-action="Search"
       asp-route-noOfSearchValues="@ViewData["SearchParmAmt"]"
       asp-route-noOfWeeksToDisplay="@ViewData["DisplayWeeksParmAmt"]"
       asp-route-referenceValue="@ViewData["ReferenceParm"]"
       asp-route-referencePos="@ViewData["ReferencePosParm"]"
       asp-route-value2="@ViewData["Value2Parm"]"
       asp-route-value2Week="@ViewData["Value2WeekParm"]"
       asp-route-value2Pos="@ViewData["Value2PosParm"]"
       asp-route-value3="@ViewData["Value3Parm"]"
       asp-route-value3Week="@ViewData["Value3WeekParm"]"
       asp-route-value3Pos="@ViewData["Value3PosParm"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">Previous</a>
    <a asp-action="Search"
       asp-route-noOfSearchValues="@ViewData["SearchParmAmt"]"
       asp-route-noOfWeeksToDisplay="@ViewData["DisplayWeeksParmAmt"]"
       asp-route-referenceValue="@ViewData["ReferenceParm"]"
       asp-route-referencePos="@ViewData["ReferencePosParm"]"
       asp-route-value2="@ViewData["Value2Parm"]"
       asp-route-value2Week="@ViewData["Value2WeekParm"]"
       asp-route-value2Pos="@ViewData["Value2PosParm"]"
       asp-route-value3="@ViewData["Value3Parm"]"
       asp-route-value3Week="@ViewData["Value3WeekParm"]"
       asp-route-value3Pos="@ViewData["Value3PosParm"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">Next</a>
}